<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>This is a test page for website</title>
</head>
<body>
    Welcome to probably the first page of our project "Personal Finance Management"
    <br>variable 1 value is {{variable_1}} 
    <br> variable 2 value is {{variable_2}}
    <p>
        Jo ki hopefully apko finance manage krwa de jabki humare khudke finances are fucked up
        But here we are guys!! Tadaa !!
    </p>
</body>
</html>

